<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durand Maxime</title>
    <link rel="stylesheet" href="static/main/ProjetSitePro.css">
</head>
<body>
    <!-- COUVERTURE  -->
    <div class="cover">
        <img class="cover-profile" src="static/main/images/chess.com Profile-modified (1).png">
        <h1>Maxime Durand</h1>
        <p>Apprenti Developpeur / 14 ans </p>
        <div style="text-align: center;">
            <a class="cover-MeContacter" href="mailto:mon_email@gmail.com?subject=Contact%20depuis%20Maximedurand.com">Me Contacter</a>
        </div>
        <div class="cover-contact">
            <p><a href="mailto:mon_email@gmail.com?subject=Contact%20depuis%20Maximedurand.com">mon_email@gmail.com</a></p>
            <p><a href="tel:+33623456789">06 12 34 56 78</a></p>

           
        </div>
        
    
    </div>
    <!--SECTION GRISE 1 -->
    <div class="section section-grise1">
        <div class="separateur"></div>
        <p>J'apprends à développer en <b>Python</b> en passant par <b>le web</b> et le developpement <b>applicatif</b></p>
    </div>
    
    
    <!--SECTION BLANCHE -->
    <div class="section" style="overflow: auto;">
        <h2>En savoir plus</h2>
        <img src="static/main/images/profile2-me.jpeg" style="transform:scaleX(-1);" class="col-contenu"/>
        <div class="col-contenu float-right">
           <div class="texte-avec-ligne-verticale" >
                <p>Amateur de programmation depuis peu j'apprends à programmer avec le langage <b>Python</b> depuis quelques mois.<br><br> Je travaille sur différents aspects de la programmation en Python  le développement Web et le développement d'applications mobiles et de bureaux</p><br> 
                   
                    
                    Je suis aussi joueur d'échecs amateur mais j'ai déja gagné quelques tournois :)<br>
                    <br>
                    Mon meilleur classement échiquéen était de <a href="https://www.chess.com/stats/live/rapid/maxou285">2130</a> elo en parties rapides 
                    <br><br>
                <a href="#">En savoir plus sur mon profil</a></p>
            </div>
        </div>
    </div>

    <!--SECTION GRISE 2 -->
    <div class="section-grise2 section">
        <h2>Portfolio</h2>
        <table class="col-portfolio" style="display: inline-block;">
           <tr>
               <td><div class="barre-verticale"></div></td>
               <td style="width: 100%;"><a href="{% url 'menu:index' %}"><img style="width: 100%;" src="static/main/images/project1small.jpg"></a></td>
           </tr>

           <tr>
                <td></td>
                <td align="center"><a href="portfolio-site-restaurant.html">Site web pour un restaurant</a></td>
            </tr>   

        </table>

        <table class="col-portfolio" style="float: right">
            <tr>
                <td><div class="barre-verticale"></div></td>
                <td style="width: 100%;"><a href="portfolio-site-machina(app).html"><img style="width: 100%;" src="static/main/images/project2small.jpg"></a></td>
            </tr>
 
            <tr>
                 <td></td>
                 <td align="center"><a href="portfolio-site-machina(app).html">Application mobile "intelligence artificielle"</a></td>
             </tr>   
 
         </table>
     </div>

     <!--SECTION BLANCHE -->
        
        
        <div class="section">
            <div class="separateur display-mobile" style="margin-bottom: 15px;"></div>
        <div class="frame">
            <p class="frame-title">Parlons de votre projet</p>
            <table style="width: 100%;">
                <tr>
                    <td valign="top"  align="center"><img src="static/main/images/chess.com Profile-modified (1).png"></td>
                    <td>
                        <div class="texte-avec-ligne-verticale" style="margin-left: 20px;">
                            <p>Besoin de discuter de votre projet
                                et obtenir l'avis d'un expert ? 
                                <br><br>
                                Contactez moi par téléphone au <a href="tel:0623456789">06 23 45 67 89</a>
                                ou directement <a href="mailto:mon_email@gmail.com"> par mail</a>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>    
        </div>

    </div>
</body>
</html>