
* {
    overflow: auto;
    

}


body {
    background-color: #8BA1BB;
    font-family: Arial;
    
}

p.categorie {                     
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 0px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;

}

div.contenu {
    background-color: white;
    margin: 0px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    /*min-width: 350px;*/
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, .2);
    

}

h1 {
    text-align: center;
    margin-bottom: 12;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
}

.centre {
    text-align: center;
    width: 100%;
}

div.categorie {
    margin-bottom: -17px;
    margin-top: 60px;
}


div.separateur {
    background-color: black;
    width: 20%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}


div.infos {
    position: relative;     
}

table.infos {
    position: absolute;
    bottom:0;
    width:100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px

}

table.infos td {
    font-size: 14px;
    text-align: center;
    vertical-align: top;
}

table.infos th {
   font-size: 12px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

 
img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
}

div.colonne {
    width: 100%;
    margin-top: 20px;

}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;

}

div.colonne1 {
    display: inline-block;
}



div.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 0px;
    margin-top: 4px;
    margin-bottom: 0px;

}

table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
   
    

}

table.preparation td {
    vertical-align: top;

}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}


table.preparation tr {
   height: 40px;

}

/* Style pour odrinateur */
@media only screen and (min-width: 768px) {

    div.contenu {
        margin-top: 60;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 80;
        padding: 50px;
        min-width: 350px;
        
    }
   
    table.infos {
       
        height: 80px
    
    }
    
    table.infos td {
       font-size: 14px;
    }
    
    table.infos th {
       font-size: 16px;
        
    }
    div.colonne {
        width: 45%;
    
    }
    
    div.colonne1 {
        margin-right: 10%;
    }
    
    div.colonne2 {
        float: right;
    }
}


@media only screen and (min-width: 900px) {
    div.contenu {
        margin-left: auto;
        margin-right: auto;
        width: 645px;
        
    }

}